##########################################
# OS - macOS
##########################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd

##########################################
# OS - Windows
##########################################
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

##########################################
# Compilazione C/C++
##########################################
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (incl. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Debug info
*.dwo

##########################################
# Directory di build/output
##########################################
build/
bin/
lib/
dist/
out/
Debug/
Release/
cmake-build-*/

##########################################
# File temporanei e di backup
##########################################
*~
*.tmp
*.swp
*.bak
*.log
*.orig

##########################################
# IDE/Editor Config
##########################################

# VSCode
.vscode/

# CLion / JetBrains
.idea/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

# Eclipse
.project
.cproject
.settings/

# Qt Creator
*.pro.user
*.qmake.stash

# NetBeans
nbproject/private/

# Makefile backup
Makefile~

##########################################
# Etichette di profiling / coverage
##########################################
*.gcno
*.gcda
*.gcov
*.profraw
*.profdata

##########################################
# Altri strumenti
##########################################
tags

##########################################
# Docker
##########################################
*.tar
*.img
docker-compose*.log
docker-compose.override.yml
volumes/
data/
tmp/
.docker/

# Mantieni i file principali
!docker-compose.yml
!Dockerfile
